# STRIPE_SECRET_KEY
# STRIPE_PRICE_ID_MONTHLY
# STRIPE_PRICE_ID_YEARLY
# MIXPANEL_TOKEN
# STRIPE_PRICE_ID_LIFETIME
# RESEND_API_KEY
# RENDER_SECRET
# MUX_WEBHOOK_SECRET
# MUX_TOKEN_ID
# MUX_TOKEN_SECRET